@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables for colors */
@layer base {
  :root {
    --primary-text: 255 255 255;
    --secondary-bg: 51 51 51;
    --default-bg: 245 245 247;
    --primary: 135 206 222;
    --secondary: 125 187 92;
    --third: 0 144 59;
    --naranja: 238 55 37;
    --paragraph: 134 131 133;
  }
  
  body {
    font-family: 'PT Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
  }
}

/* Custom utility classes using @apply */
@layer components {
  .gradient-navbar {
    @apply bg-gradient-to-r from-green-600 to-green-500;
  }
}